 div {
     display: flex;
     justify-content: space-between;
     margin-left: auto;
     margin-right: auto;
     padding-top: 8px;
     background-color: ;

 }

 #button {
     margin-left: auto;
     margin-right: auto;
 }

 h1 {
     text-align: center;
     font-family: 'Roboto Slab', sans-serif;
     border-style: solid;
     border-color: silver;
 }

 h5 {
     text-align: center;
     padding-left: auto;
     padding-right: auto;
     font-family: 'Roboto Condensed', sans-serif;
     ;

 }

 #button {
     margin-left: auto;
     margin-bottom: auto;
 }

 #rabbit {
     display: flex;
     justify-content: center;

 }